@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
	display: table;
	width: 100%;
	height: 100%;
}
body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	user-select: none;
}
img {
	margin-bottom: 22em;
	margin-top: -1.5em;
}
.full {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 20em;
}
.icon {
	border-radius: 1.5em;
	border: .12em solid black;
	padding: .1em;
	width: 1em;
	height: 1em;
	margin: .3em;
	font-size: 2.5em;
	font-weight: bold;
	position: absolute;
	bottom: 0;
}
.regions, .help {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-family: comfortaa;
}
.regions .icon {
	left: 0;
}
.regions .buttons {
	margin: 2em auto;
	width: 80%;
}
.regions .buttons div {
	border-radius: 1em;
	background-color: #DED;
	border: 2px solid #ACA;
	display: inline-block;
	padding: .6em 1em;
	margin: .5em;
}
.help .icon {
	right: 0;
}
.help .text {
	border: 1px solid grey;
	border-radius: 1.5em;
	padding: .5em 1.5em;
	display: inline-block;
	background-color: white;
}
.help .text body {
	text-align: left;
}
.help .text code {
	background-color: lightblue;
	padding: .1em .3em;
}
